@import "./typography", "./config", "./layout";

label {
  cursor: pointer;
  display: block;
}
input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  border: 1px solid #828282;
  appearance: none;
  outline: transparent;
  cursor: pointer;
  position: relative;
  bottom: 2.5px;
  margin-right: 5px;
}
input[type="checkbox"]:checked {
  background-color: #f2994a;
}
